@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Contact" />
    <meta name="keywords" content="Contact" />
}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="~/Home/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link active" href="~/Home/Contact">Contact <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Kontakt">PL/EN</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Contact form -->

<div class="container">

    <h3 class="text-center">Contact me</h3><br />

    <div class="row">
        <div class="col-md-8">
            <form action="/post" method="post">
                <input class="form-control" name="name" placeholder="Your name" /><br />
                <input class="form-control" name="email" placeholder="Your email" /><br />
                <input class="form-control" name="subject" placeholder="Subject" /><br />
                <textarea class="form-control" name="text" placeholder="Your message" style="height:150px;"></textarea><br />
                @*<input class="btn btn-primary btn-dark" value="Send" /><br /><br />*@
                <button type="button" class="btn btn-dark">Send</button>
                @*<a class="color:black btn btn-primary btn-dark color:white" onclick="document.getElementById('contact-form').submit();">Send</a>*@

            </form>
        </div>
        <div class="col-md-4">
            Phone: +48 123 456 789<br />
            E-mail: <a href="mailto:s198702@sggw.edu.pl">s198702@sggw.edu.pl</a><br />
            <br /><br />
            <b>Address:</b><br />
            Some street 21/37<br />
            03-303 Warsaw, Poland<br />
        </div>
    </div>
</div>