@{
    ViewBag.Title = "Kingkiller Chronicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Kingkiller_chronicles" />
    <meta name="keywords" content="Kingkiller_chronicles" />
}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="~/Home/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Contact">Contact</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Kroniki_Krolobojcy">PL/EN</a>
            </li>
        </ul>
    </div>
</nav>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style="background-color:LightGray">
    <div class="w3-content">
        <h1 class="w3-cen" style="text-align:center">Kingkiller Chronicles</h1>
        <h5 class="w3-padding-32" style="text-align:center">Pathrick Rothfuss</h5>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>The Name of the Wind</i></h2>
            <p class="w3-text-grey">
                Told in Kvothe's own voice, this is the tale of the magically gifted young man who grows to be the most notorious wizard
                his world has ever seen.<br>
                The intimate narrative of his childhood in a troupe of traveling players, his years spent as a near-feral orphan in a
                crime-ridden city, his daringly brazen yet successful bid to enter a legendary school of magic, and his life as a fugitive
                after the murder of a king form a gripping coming-of-age story unrivaled in recent literature.<br>
                A high-action story written with a poet's hand, The Name of the Wind is a masterpiece that will transport readers into the
                body and mind of a wizard.<br><br>
                <a href="https://www.goodreads.com/series/45262-the-kingkiller-chronicle"><i>goodreads.com</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverR1.jpg" alt="The name of the wind" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>The Wise Man's Fear</i></h2>
            <p class="w3-text-grey">
                My name is Kvothe.
                I have stolen princesses back from sleeping barrow kings. I burned down the town of Trebon. I have spent the night with 
                Felurian and left with both my sanity and my life. I was expelled from the University at a younger age than most people are 
                allowed in. I tread paths by moonlight that others fear to speak of during day. I have talked to Gods, loved women, and 
                written songs that make the minstrels weep.<br>
                You may have heard of me.<br>
                So begins the tale of a hero told from his own point of view — a story unequaled in fantasy literature. Now in The Wise Man's 
                Fear, an escalating rivalry with a powerful member of the nobility forces Kvothe to leave the University and seek his fortune 
                abroad. Adrift, penniless, and alone, he travels to Vintas, where he quickly becomes entangled in the politics of courtly 
                society. While attempting to curry favor with a powerful noble, Kvothe uncovers an assassination attempt, comes into conflict 
                with a rival arcanist, and leads a group of mercenaries into the wild, in an attempt to solve the mystery of who (or what) is 
                waylaying travelers on the King's Road.<br>
                All the while, Kvothe searches for answers, attempting to uncover the truth about the mysterious Amyr, the Chandrian, and the 
                death of his parents. Along the way, Kvothe is put on trial by the legendary Adem mercenaries, is forced to reclaim the honor 
                of the Edema Ruh, and travels into the Fae realm. There he meets Felurian, the faerie woman no man can resist, and who no man 
                has ever survived ... until Kvothe.<br>
                In The Wise Man's Fear, Kvothe takes his first steps on the path of the hero and learns how difficult life can be when a man 
                becomes a legend in his own time.<br><br>
                <a href="https://www.goodreads.com/book/show/1215032.The_Wise_Man_s_Fear"><i>goodreads.com</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverR2.jpg" alt="The Wise Man's Fear" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>