@{
    ViewBag.Title = "Kroniki Królobójcy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Kroniki_Krolobojcy" />
    <meta name="keywords" content="Kroniki_Krolobojcy" />
}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="~/Home/Index">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Kontakt">Kontakt</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Kingkiller_chronicles">PL/EN</a>
            </li>
        </ul>
    </div>
</nav>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style="background-color:LightGray">
    <div class="w3-content">
        <h1 class="w3-cen" style="text-align:center">Kroniki Królobójcy</h1>
        <h5 class="w3-padding-32" style="text-align:center">Pathrick Rothfuss</h5>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>Imię wiatru</i></h2>
            <p class="w3-text-grey">
                Kvothe to człowiek legenda. Wielki mag, geniusz muzyki, bohater i złoczyńca - namówiony przez Kronikarza - wspomina
                swe barwne życie. Od dzieciństwa spędzonego w trupie wędrownych aktorów poprzez lata chłopięce spędzone w półświatku
                mrocznego miasta po szaloną, ale udaną próbę wstąpienia na Uniwersytet. Powoduje nim pragnienie władania magią i zemsty na
                demonach, które zabiły jego rodziców i cały jego świat obróciły w perzynę.<br>
                Niezwykle żywo i naturalnie snuta opowieść na homerycką skalę. Intrygująca i poruszająca odyseja Kvothe'a doskonale
                harmonizuje z nienachalnym klimatem fantasy. Ten debiut literacki zdobył kilka prestiżowych nagród, m.in. Quill Award oraz
                Onion AV Club. Prawa do wydania sprzedano już do ponad 20 krajów.<br>
                "To niezwykle rzadka przyjemność trafić na autora piszącego z precyzją niezbędną do tworzenia nie tylko fantasy, w którego
                słowach brzmi prawdziwa muzyka"<br>
                Ursula K. Le Guin<br>
                "Książka ma wszystko, co lubią czytelnicy fantasy: magię, tajemnice, starożytne zło. Ale jest także zabawna i przerażająca,
                a na dodatek przekonująca. Wzorem najlepszych książek gatunku to nie elementy fantasy czynią ją niezwykłą, ale to, co autor
                ma do powiedzenia o codziennych sprawach, zwykłym życiu, ambicjach i upadkach, sztuce, miłości i stracie"<br>
                Tad Williams<br><br>
                <a href="https://lubimyczytac.pl/ksiazka/7024/imie-wiatru"><i>lubimyczytac.pl</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverR1.jpg" alt="Imię wiatru" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>Strach mędrca</i></h2>
            <p class="w3-text-grey">
                Mędrzec obawia się tylko trzech rzeczy: morza w czasie sztormu, nocy bez księżyca i furii człowieka łagodnego.<br>
                Oto ciąg dalszy epickich przygód Kvothe'a, który w zaciszu gospody mierzy się ze swoją legendą. Opowieść o jego wczesnej
                młodości, wstąpieniu do Akademii i stawaniu tam pierwszych kroków - powoli zaczyna nabierać głębszych barw. Zdecydowany
                nauczyć się magii imion bohater próbuje przekonać do siebie mistrza Elodina. Sukces rodzi jednak zazdrość, a jego wrogowie,
                przede wszystkim Ambrose, nie śpią. Goniąc za Chandrianami, w pragnieniu zemsty, Kvothe gubi gdzieś niewinność.<br>
                Przed wami odsłona druga Kronik Królobójcy.<br>
                "Patrick Rothfuss po niesamowitym debiucie zajął pewne miejsce na scenie głównych pisarzy gatunku fantasy i może kontynuować
                walkę bez żadnej rozgrzewki. Jordan i Goodkind powinni zacząć się nerwowo oglądać przez ramię!"<br>
                Kevin J. Anderson<br>
                "W tej książce żadne słowo nie jest zbędne. [...] Jeśli jesteś czytelnikiem fantasy lub po prostu potrafisz docenić dzieło
                o naprawdę epickim rozmachu - nie przegap tej książki".<br>
                Orson Scott Card<br><br>
                <a href="https://lubimyczytac.pl/ksiazka/111625/strach-medrca-czesc-1"><i>lubimyczytac.pl</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverR2.jpg" alt="Strach mędrca" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>