@{
    ViewBag.Title = "Opowieść o kamratach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Opowiesc_o_kamratach" />
    <meta name="keywords" content="Opowiesc_o_kamratach" />
}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="~/Home/Index">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Kontakt">Kontakt</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Tales_of_the_kin">PL/EN</a>
            </li>
        </ul>
    </div>
</nav>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style="background-color:LightGray">
    <div class="w3-content">
        <h1 class="w3-cen" style="text-align:center">Opowieść o kamratach</h1>
        <h5 class="w3-padding-32" style="text-align:center">Douglas Hulick</h5>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>Honor złodzieja</i></h2>
            <p class="w3-text-grey">
                Przygodowa powieść fantasy na miarę Brenta Weeksa i Scotta Lyncha.<br>
                Ildrekka to niebezpieczne miasto. Jeśli brakuje ci sprytu i przezorności, marny twój los. Na szczęście Drothe nie musi
                się tym martwić. Od wielu, wielu lat jest członkiem Kamratów, zna na wylot każdy najciemniejszy zaułek miasta, a złodzieje
                i mordercy to jego codzienne towarzystwo. Pracując jako informator dla szefa przestępczej organizacji, Drothe natrafia na
                ślad śmiercionośnej intrygi. Ten, kto wejdzie w posiadanie prastarej magicznej księgi, zawładnie światem…<br><br>
                <a href="https://lubimyczytac.pl/ksiazka/125740/honor-zlodzieja"><i>lubimyczytac.pl</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverH1.jpg" alt="Honor złodzieja" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>Przysięga stali</i></h2>
            <p class="w3-text-grey">
                Przebojowa kontynuacja Honoru złodzieja. Przygodowa powieść fantasy na miarę Brenta Weeksa i Scotta Lyncha!<br>
                Minęły trzy miesiące, od kiedy Drothe spalił dużą część stolicy imperium Ildrekki i nieoczekiwanie dla samego siebie stał 
                się jednym z najsłynniejszych, rządzących miastem Kamratów. Jako nowy Szary Książę ma nie tylko przyjaciół, ale też niestety 
                coraz większą grupę wrogów. Jak mówią, krew Księcia jest tak samo czerwona jak krew zwykłego złodzieja.<br>
                Gdy zostaje zamordowany inny Szary Książę i wszystkie znaki wskazują, że to właśnie Drothe trzymał nóż, nasz bohater wie, 
                że za chwilę jego krew może spłynąć ulicami Ildrekki. Dotychczasowi sojusznicy odwracają się do niego plecami, a po mieście 
                krąży coraz więcej mrocznych plotek. Wtedy pojawia się dziwny mężczyzna, który twierdzi, że rozwiąże wszystkie jego kłopoty… 
                w zamian oczekuje tylko małej przysługi.<br>
                Porywająca, wartka akcja i znakomite postaci, które podbiją wasze serca – to najważniejsze cechy powieści Douglasa Hulicka. 
                Młody autor ani na chwilę nie zwalnia tempa i po raz kolejny udowadnia, że zasługuje na miano jednego z najlepszych młodych 
                twórców fantasy.<br><br>
                <a href="https://lubimyczytac.pl/ksiazka/242811/przysiega-stali"><i>lubimyczytac.pl</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverH2.jpg" alt="Przysięga stali" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>