@{
    ViewBag.Title = "Polityka Prywatności";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Polityka_prywatnosci" />
    <meta name="keywords" content="Polityka_prywatnosci" />
}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="~/Home/Index">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Kontakt">Kontakt</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Privacy_policy">PL/EN</a>
            </li>
        </ul>
    </div>
</nav>

<div class="w3-container w3-padding-64 w3-center">
    <h2>Polityka prywatności</h2>
    <p>Poniższa Polityka Prywatności określa zasady zapisywania i uzyskiwania dostępu do danych na Urządzeniach Użytkowników korzystających z Serwisu do celów świadczenia usług drogą elektroniczną przez Administratora Serwisu.</p>
</div>


<div class="w3-row-padding w3-padding-64 w3-container">
    <h2>Definicje</h2>
    <ul>
        <li>Serwis – serwis internetowy</li>
        <li>Serwis zewnętrzny – serwis internetowe partnerów, usługodawców lub usługobiorców Administratora</li>
        <li>Administrator – firma, świadcząca usługi drogą elektroniczną za pośrednictwem Serwisu oraz przechowująca i uzyskująca dostęp do informacji w urządzeniach Użytkownika</li>
        <li>Użytkownik – osba fizyczna, dla której Administrator świadczy usługi drogą elektroniczna za pośrednictwem Serwisu.</li>
        <li>Urządzenie – elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem, którego Użytkownik uzyskuje dostęp do Serwisu</li>
        <li>Cookies (ciasteczka) – dane tekstowe gromadzone w formie plików zamieszczanych na Urządzeniu Użytkownika</li>
    </ul>
    <br>
    <h2>Rodzaje cookies</h2>
    <ul>
        <li>Cookies wewnętrzne – pliki zamieszczane i odczytywane z Urządzenia Użytkownika przes system teleinformatyczny Serwisu</li>
        <li>Cookies zewnętrzne – pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez systemy teleinformatyczne Serwisów zewnętrznych</li>
        <li>Cookies sesyjne – pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis lub Serwisy zewnętrzne podczas jednej sesji danego Urządzenia. Po zakończeniu sesji pliki są usuwane z Urządzenia Użytkownika.</li>
        <li>Cookies trwałe – pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis lub Serwisy zewnętrzne do momentu ich ręcznego usunięcia. Pliki nie są usuwane automatycznie po zakończeniu sesji Urządzenia chyba że konfiguracja Urządzenia Użytkownika jest ustawiona na tryb usuwanie plików Cookie po zakończeniu sesji Urządzenia.</li>
    </ul>
    <br>
    <h2>Bezpieczeństwo</h2>
    <ul>
        <li>Mechanizmy składowania i odczytu – Mechanizmy składowania i odczytu Cookies nie pozwalają na pobierania jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika. Przeniesienie na Urządzenie Użytkownika wirusów, koni trojańskich oraz innych robaków jest praktynie niemożliwe.</li>
        <li>Cookie wewnętrzne – zastosowane przez Administratora Cookie wewnętrzne są bezpieczne dla Urządzeń Użytkowników</li>
        <li>Cookie zewnętrzne – za bezpieczeństwo plików Cookie pochodzących od partnerów Serwisu Administrator nie ponosi odpowiedzialności. Lista partnerów zamieszczona jest w dalszej części Polityki Cookie.</li>
    </ul>
    <br>
    <h2>Cele do których są wykorzystywane pliki cookies</h2>
    <ul>
        <li>Usprawnienie i ułatwienie dostępu do Serwisu – Administrator może przechowywać w plikach Cookie informacje o prefernecjach i ustawieniach użytkownika dotyczących Serwisu aby usprawnić, polepszyć i przyśpieszyć świadczenie usług w ramach Serwisu.</li>
        <li>Marketing i reklama – Administrator oraz Serwisy zewnętrzne wykorzystują pliki Cookie do celów marketingowych oraz serwowania reklam Użytkowników.</li>
        <li>Dane statystyczne – Administrator oraz Serwisy zewnętrzne wykorzystuje pliki Cookie do zbirania i przetwarzania danych statystycznych takich jak np. statystyki odwiedzin, statystyki Urządzeń Użytkowników czy statystyki zachowań użytkowników. Dane te zbierane są w celu analizy i ulepszania Serwisu.</li>
    </ul>
    <br>
    <h2>Serwisy zewnętrzne</h2>
    <p>Administrator współpracuje z następującymi serwisami zewnętrznymi, które mogą zamieszczać pliki Cookie na Urządzeniach Użytkownika:</p>
    <ul>
        <li>Google Analytics</li>
        <li>Google AdSense</li>
        <li>Google AdWords</li>
    </ul>
    <br>
    <h2>Możliwości określania warunków przechowywania i uzyskiwania dostępu na urządzeniach użytkownika przez serwis i serwisy zewnętrzne</h2>
    <ul>
        <li>Użytkownik może w dowolnym momencie, samodzielnie zmienić ustawienia dotyczące zapisywania, usuwania oraz dostępu do danych zapisanych plików Cookies</li>
        <li>Informacje o sposobie wyłączenia plików Cookie w najpopularniejszych przeglądarkach komputerowych i urządzeń mobilnych dostępna są na stronie: jak wyłączyć cookie.</li>
        <li>Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory pliki Cookie korzystając z narzędzi Urządzenia Użytkownika za pośrednictwem którego Użytkowanik korzysta z usług Serwisu.</li>
    </ul>
    <br>
    <h2>Wymagania serwisu</h2>
    <ul>
        <li>Ograniczenie zapisu i dostępu do plików Cookie na Urządzeniu Użytkownika może spowodować nieprawidłowe działanie niektórych funkcji Serwisu.</li>
        <li>Administrator nie ponosi żadnej odpowiedzialności za nieprawidłowo działające funkcje Serwisu w przypadku gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu plików Cookie.</li>
    </ul>
    <br>
    <h2>Zmiany w polityce prywatności</h2>
    <ul>
        <li>Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Prywatności bez konieczności informowania o tym użytkowników.</li>
        <li>Wprowadzone zmiany w Polityce Prywatności zawsze będą publikowane na tej stronie.</li>
        <li>Wprowadzone zmiany wchodzą w życie w dniu publikacji Polityki Prywatności.</li>
    </ul>
</div>