@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Privacy_policy" />
    <meta name="keywords" content="Privacy_policy" />
}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="~/Home/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Contact">Contact</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Polityka_prywatnosci">PL/EN</a>
            </li>
        </ul>
    </div>
</nav>

<div class="w3-container w3-padding-64 w3-center">
    <h2>Privacy policy</h2>
    <p>The following Privacy Policy sets out the rules for saving and accessing data on Users' Devices using the Website for the purpose of providing electronic services by the Website Administrator.</p>
</div>


<div class="w3-row-padding w3-padding-64 w3-container">
    <h2>Definitions</h2>
    <ul>
        <li>External website - website of the Administrator's partners, service providers or recipients</li>
        <li>Administrator - a company that provides electronic services via the Website and stores and accesses information on the User's devices</li>
        <li>User - a natural person for whom the Administrator provides services electronically via the Website.</li>
        <li>Device - an electronic device with software through which the User gains access to the Website</li>
        <li>Cookies - text data collected in the form of files placed on the User's Device</li>
    </ul>
    <br>
    <h2>Types of cookies</h2>
    <ul>
        <li>Internal cookies - files placed and read from the User's Device are sent by the Website's IT system</li>
        <li>External Cookies - files placed and read from the User's Device by the ICT systems of external websites</li>
        <li>Session Cookies - files placed and read from the User's Device by the Website or External Services during one session of a given Device. After the session ends, the files are removed from the User's Device.</li>
        <li>Permanent cookies - files placed and read from the User's Device by the Website or external websites until they are manually deleted. The files are not deleted automatically after the end of the Device session, unless the configuration of the User's Device is set to the Cookie deletion mode after the end of the Device session.</li>
    </ul>
    <br>
    <h2>Safety</h2>
    <ul>
        <li>Storage and reading mechanisms - Cookies storage and reading mechanisms do not allow the collection of any personal data or any confidential information from the User's Device. It is practically impossible to transfer viruses, Trojans and other worms to the User's Device.</li>
        <li>Internal cookies - internal cookies used by the Cookie Administrator are safe for Users' Devices</li>
        <li>External cookies - the Administrator is not responsible for the security of Cookie files from Website partners. The list of partners is provided further in the Cookie Policy.</li>
    </ul>
    <br>
    <h2>The purposes for which cookies are used</h2>
    <ul>
        <li>Improving and facilitating access to the Website - the Administrator may store in cookie files information about the preferences and settings of the user regarding the Website in order to improve, improve and speed up the provision of services on the Website. </li>
        <li>Marketing and advertising - the Administrator and External websites use Cookie files for marketing purposes and serving Users' advertisements. </li>
        <li>Statistical data - the Administrator and external websites use Cookie files to collect and process statistical data such as, for example, visit statistics, User Device statistics or user behavior statistics. This data is collected for the purpose of analyzing and improving the Website. </li>
    </ul>
    <br>
    <h2>External websites</h2>
    <p> The Administrator cooperates with the following external websites that may place Cookie files on User's Devices: </p>
    <ul>
        <li>Google Analytics</li>
        <li>Google AdSense</li>
        <li>Google AdWords</li>
    </ul>
    <br>
    <h2> Possibilities of determining the conditions of storage and access on user's devices by the website and external services </h2>
    <ul>
        <li>The user may at any time independently change the settings for saving, deleting and accessing the data of saved cookies </li>
        <li>Information on how to disable cookies in the most popular computer browsers and mobile devices is available at: how to disable cookies. </li>
        <li>The User may at any time delete any Cookie files saved so far using the User's Device tools through which the User uses the Website's services. </li>
    </ul>
    <br>
    <h2> Site requirements </h2>
    <ul>
        <li> Restricting the saving and access to Cookie files on the User's Device may cause some functions of the Website to malfunction. </li>
        <li> The Administrator does not bear any responsibility for incorrectly functioning functions of the Website if the User restricts in any way the ability to save and read Cookie files. </li>
    </ul>
    <br>
    <h2> Changes to the privacy policy </h2>
    <ul>
        <li> The Administrator reserves the right to change this Privacy Policy at any time without informing users about it. </li>
        <li> Changes to the Privacy Policy will always be published on this page. </li>
        <li> The introduced changes shall enter into force on the date of publication of the Privacy Policy. </li>
    </ul>
</div>