@{
    ViewBag.Title = "Tales of the Kin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Tales_of_the_kin" />
    <meta name="keywords" content="Tales_of_the_kin" />
}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="~/Home/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Contact">Contact</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="~/Home/Opowiesc_o_kamratach">PL/EN</a>
            </li>
        </ul>
    </div>
</nav>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container" style="background-color:LightGray">
    <div class="w3-content">
        <h1 class="w3-cen" style="text-align:center">Tales of the Kin</h1>
        <h5 class="w3-padding-32" style="text-align:center">Douglas Hulick</h5>
    </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>Among Thieves</i></h2>
            <p class="w3-text-grey">
                Drothe has been a member of the Kin for years, rubbing elbows with thieves and murderers in the employ of a crime lord while 
                smuggling relics on the side. But when an ancient book falls into his hands, Drothe finds himself in possession of a relic 
                capable of bringing down emperors-a relic everyone in the underworld would kill to obtain…<br><br>
                <a href="https://www.goodreads.com/book/show/8801543-among-thieves"><i>goodreads.com</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverH1.jpg" alt="Among Thieves" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h2><i>Sworn in Steel</i></h2>
            <p class="w3-text-grey">
                It’s been three months since Drothe killed a legend, burned down a portion of the imperial capital, and unexpectedly elevated 
                himself into the ranks of the criminal elite. Now, as the newest Gray Prince in the underworld, he’s learning just how good 
                he used to have it.<br>
                With barely the beginnings of an organization to his name, Drothe is already being called out by other Gray Princes. And to 
                make matters worse, when one dies, all signs point to Drothe as wielding the knife. As members of the Kin begin choosing sides 
                – mostly against him – for what looks to be another impending war, Drothe is approached by a man who not only has the solution 
                to Drothe’s most pressing problem, but an offer of redemption. The only problem is the offer isn’t for him.<br>
                Now Drothe finds himself on the way to the Despotate of Djan, the empire’s long-standing enemy, with an offer to make and a 
                price on his head. And the grains of sand in the hour glass are running out, fast...<br><br>
                <a href="https://www.goodreads.com/book/show/12395241-sworn-in-steel"><i>goodreads.com</i></a>
            </p>
        </div>
        <div class="w3-third w3-center">
            <img src="~/Content/images/coverH2.jpg" alt="Sworn in Steel" class="w3-padding-64 w3-text-red">
        </div>
    </div>
</div>